.hero {
    border-radius: 349px;
    background-color: rgba(95, 15, 64, 1);
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    padding: 2rem 2rem;
  }
  
  @media (max-width: 991px) {
    .hero {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .content {
    gap: 5rem;
    display: flex;
  }
  
  @media (max-width: 991px) {
    .content {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  
  .textContent {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 55%;
    margin-left: 1.5em;
  }
  
  @media (max-width: 991px) {
    .textContent {
      width: 80%;
    }
  }
  
  .textWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    align-items: start;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .textWrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .title {
    color: rgba(217, 217, 217, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: justify;
    align-self: center;
    font: 400 2em Ligconsolata, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .title {
      max-width: 100%;
      font-size: 40px;
    }
  }
  
  .description {
    color: rgba(255, 255, 249, 1);
    text-align: center;
    margin-top: 20px;
    font: 400 30px EB Garamond, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  @media (max-width: 991px) {
    .description {
      max-width: 100%;
    }
  }
  
  .socialLinks {
    display: flex;
    gap: 40px 46px;
    margin: 45px 0 0 111px;
  }
  
  @media (max-width: 991px) {
    .socialLinks {
      margin: 40px 0 0 10px;
    }
  }
  
  .socialIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 48px;
  }
  
  .imageContent {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  
  @media (max-width: 991px) {
    .imageContent {
      width: 100%;
    }
  }
  
  .profileImage {
    aspect-ratio: 0.81;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 204px;
    flex-grow: 1;
  }
  
  @media (max-width: 991px) {
    .profileImage {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .highlight {
    color: rgba(227,100,20,1);
  }